<div ng-controller="MainController as mainCtrl">
  <!-- Playlists -->
  <div id="playlist-ui" ng-controller="PlaylistController as playlistCtrl">

    <!-- Open playlist UI -->
    <form class="form-inline" role="form">
      <div class="input-group">
        <!-- Play this playlist -->
        <select class="form-control" ng-model="selectedPlaylist" ng-change="changedValue(selectedPlaylist)"  ng-options="item.name for item in playlists">
          <option value="">Select Playlist</option>
        </select>
        <span id="curate-playlist-button" class="input-group-addon" ng-click="toggle()">
          <i class="glyphicon glyphicon-edit"></i>
        </span>
        <span id="delete-playlist-button" class="input-group-addon" ng-click="deletePlaylist()">
          <i class="glyphicon glyphicon-remove"></i>
        </span>
        <input type="text" class="form-control" ng-model="newPlaylistName" class="form-control" id="new-playlist-name" placeholder="New Playlist Name...">
        <span id="create-playlist-button" class="input-group-addon" ng-click="createPlaylist()">
          <i class="glyphicon glyphicon-plus"></i>
        </span>
        <span id="dj-this-playlist-button" class="input-group-addon" ng-click="djThisPlaylist()">
          <i class="glyphicon glyphicon-cd"></i>
        </span>
        <span id="playlist-feedback" ng-model="feedbackMessage" ng-show="feedbackMessage" ng-class="feedbackClass">{{feedbackMessage}}</span>
      </div>
    </form>

    <!-- this is the playlist curation UI that slides down -->
    <pageslide ps-open="checked" ps-side="top" ps-size="500px">

      <div class="row">
        <!--  playlist contents container  -->
        <div id="playlist-contents-container" class="col-md-6">
          <!--<p>DEBUG: selected item is : {{selectedPlaylist}}</p>-->
          <table class="table table-striped table-bordered table-condensed">
            <tr ng-repeat="video in playlistContent.songs" ng-class-odd="odd" ng-class-even="even">
               <td><img ng-src="{{video.thumb}}" /></td>
               <td>{{video.name}}</td>
               <td><span id="playlist-button" class="input-group-addon" ng-click="removeFromPlaylist(video)"><i class="glyphicon glyphicon-remove"></i></span></td>
            </tr>
          </table>
        </div>

        <!-- song search container -->
        <div id="search-result-container" class="col-md-6">
          <form class="form-horizontal" name="songCreateForm" ng-controller="VideoSearchController as vidSrchCtrl" ng-submit="search()">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="songName" class="form-control" id="inputSongName" placeholder="Search Youtube Song Name...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit" id="submit" value="Search">Go!</button>
                </span>
            </div>
            <!--  song search results container  -->
            <table class="table table-striped table-bordered table-condensed">
              <tr ng-repeat="video in vidSrchCtrl.results" ng-class-odd="odd" ng-class-even="even">
                <td><img ng-src="{{video.snippet.thumbnails.default.url}}" /></td>
                <td>{{video.snippet.title}}</td>
                <td><span id="playlist-button" class="input-group-addon" ng-click="addToPlaylist(video)"><i class="glyphicon glyphicon-plus"></i></span></td>
              </tr>
            </table>
          </form>
        </div>

        <div class="col-md-12">
          <span id="playlist-edit-menu-up" class="input-group-addon" ng-click="toggle()"><i class="glyphicon glyphicon-menu-up"></i></span>
        </div>
      </div> <!-- XXX : break this up and make it more legible -->

    </pageslide>
  </div>

<div class="row" ng-controller="ThreeController as threeCtrl">

      <!-- place where we will render the WebGL stuff -->
      <div id="three-panel" class="col-md-10">
        <three-panel game-state="theGameState" assimp-url="assimpModelUrl"><div id="3d-css-panel"></div></three-panel>
        <div class="row">
          <div class="col-md-12">
            <button ng-click="changeModel()">change model</button>
            <input ng-model="assimpModelUrl"></input>
          </div>
        </div>
      </div>

      <!-- socket.io and chat panel -->
      <div class="col-md-2">
        <div id="chat-container" ng-controller="ChatController as chatCtrl">
          <form name="chatForm" novalidate ng-submit="chatForm.$valid && sendMessage()">
            <div class="panel panel-info" id="chat-header-content-footer-panel">
              <div class="panel-heading" id="chat-header">CHAT</div>
              <div class="panel-body" id="chat-panel" scroll-glue>
                <ul class="media-list" id="chat-message-list">
                  <li class="media" ng-repeat="message in chatCtrl.messages track by $index">
                    <div class="media-body" id="chat-message-body">
                      <div class="media" id="chat-message">
                        <a class="pull-left" href="#">
                          <img class="media-object img-circle " src="img/user.jpg" />
                        </a>
                        <div class="media-body" >
                          {{message.data}}
                          <br />
                          <small class="text-muted">{{message.user}} | {{message.date | date:'yyyy-MM-dd HH:mm:ss'}}</small>
                          <hr />
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="panel-footer" id="chat-input-box">
                <div class="input-group">
                  <input type="text" class="form-control" ng-class="{highlight:chatForm.messageText.$error.required || chatForm.messageText.$error.minlength || chatForm.messageText.$error.maxlength}" ng-model="messageText" name="messageText" required ng-minlength="3" ng-maxlength="512" placeholder="Enter Message" />
                  <span class="input-group-btn">
                    <input class="btn btn-info" type="submit" ng-disabled="!socketConnected" value="SEND"/>
                  </span>
                </div>
              </div>
          </div>
      </form>
      </div>
  </div>
</div>
