  <!-- Playlists -->
  <div id="playlist-ui" ng-controller="PlaylistController as playlistCtrl">

    <!-- Open playlist UI -->
    <form class="form-inline" role="form">
      <div class="input-group">
        <!-- Play this playlist -->
        <select class="form-control" ng-model="selectedPlaylist" ng-change="changedValue(selectedPlaylist)"  ng-options="item.name for item in playlists">
          <option value="">Select Playlist</option>
        </select>
        <span id="curate-playlist-button" class="input-group-addon" ng-click="toggle()">
          <i class="glyphicon glyphicon-edit"></i>
        </span>
        <span id="delete-playlist-button" class="input-group-addon" ng-click="">
          <i class="glyphicon glyphicon-remove"></i>
        </span>
      </div>
    </form>

    <!-- this is the playlist curation UI that slides down -->
    <pageslide ps-open="checked" ps-side="top" ps-size="500px">

      <div class="row">
        <!--  playlist contents container  -->
        <div id="playlist-contents-container" class="col-md-6">
          <!--<p>DEBUG: selected item is : {{selectedPlaylist}}</p>-->
          <table class="table table-striped table-bordered table-condensed">
            <tr ng-repeat="video in playlistContent.songs" ng-class-odd="odd" ng-class-even="even">
               <td><img ng-src="{{video.thumb}}" /></td>
               <td>{{video.name}}</td>
               <td><span id="playlist-button" class="input-group-addon" ng-click="removeFromPlaylist(video)"><i class="glyphicon glyphicon-remove"></i></span></td>
            </tr>
          </table>
        </div>

        <!-- song search container -->
        <div id="search-result-container" class="col-md-6">
          <form class="form-horizontal" name="songCreateForm" ng-controller="VideoSearchController as vidSrchCtrl" ng-submit="search()">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="songName" class="form-control" id="inputSongName" placeholder="Search Youtube Song Name...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit" id="submit" value="Search">Go!</button>
                </span>
            </div>
            <!--  song search results container  -->
            <table class="table table-striped table-bordered table-condensed">
              <tr ng-repeat="video in vidSrchCtrl.results" ng-class-odd="odd" ng-class-even="even">
                <td><img ng-src="{{video.snippet.thumbnails.default.url}}" /></td>
                <td>{{video.snippet.title}}</td>
                <td><span id="playlist-button" class="input-group-addon" ng-click="addToPlaylist(video)"><i class="glyphicon glyphicon-plus"></i></span></td>
              </tr>
            </table>
          </form>
        </div>

        <div class="col-md-12">
          <span id="playlist-edit-menu-up" class="input-group-addon" ng-click="toggle()"><i class="glyphicon glyphicon-menu-up"></i></span>
        </div>
      </div> <!--XXX : break this up and make it more legible-->

    </pageslide>
  </div>

<div class="row">
      <div id="three-panel" class="col-md-10">
        <!-- Place where we will render the WebGL stuff-->
        <three-panel></three-panel>
      </div>
      <div class="col-md-2">
        <!-- Socket.io -->
        <div id="chat-panel" ng-controller="SocketsController as sockCtrl">
          <div class="panel panel-info">
            <div class="panel-heading">
              CHAT
            </div>
            <div class="panel-body">
              <ul class="media-list">
                <li class="media">
                  <div class="media-body">
                    <div class="media">
                      <a class="pull-left" href="#">
                        <img class="media-object img-circle " src="img/user.jpg" />
                      </a>
                      <div class="media-body" >
                        Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim. Duis vel condimentum massa.Donec sit amet ligula enim.
                        <br />
                        <small class="text-muted">Alex Deo | 23rd June at 5:00pm</small>
                        <hr />
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="panel-footer">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter Message" />
                <span class="input-group-btn">
                  <button class="btn btn-info" type="button" ng-click="sendWithSocket('MESSAGE')">SEND</button>
                </span>
              </div>
            </div>
        </div>
      </div>
</div>
